.cursor-pointer {
  cursor: pointer;
}
.link-active {
  color: #4a96fa;
}
.link-hover:hover {
  color: #4a96fa;
}
.bottom-round {
  background-color: #fff;
  border-bottom-right-radius: 90em 100px;
  border-bottom-left-radius: 90em 100px;
}
